<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/article.css?after">
  <script src="https://kit.fontawesome.com/5a855f27dd.js" crossorigin="anonymous"></script>
  <title>article</title>
</head>
<body>
  
  <header>
    <div id="logo">
      <h1>Blind Clone f(b)</h1>
    </div>
  </header>

  <section>

    <article>
      <h1 class="articleName" th:text="${kind.kindName}">게시판 이름 1</h1>
      
      <hr>

      <form id="addForm">
        <div id="titleWrapper">
          <input type="hidden" th:value="${article.id}">
          <label for="title">제목 : </label>
          <input type="text" id="title" th:value="${article.title}" disabled>
        </div>
        <div id="bodyWrapper">
        <label for="body">내용 : </label>
        <textarea id="body" cols="30" rows="10" th:text="${article.body}" disabled></textarea>
        </div>
      </form>
      <hr>
      <h2>댓글</h2>
      <div class = "comment-list" style="text-align: left">
        <table class="comment-table">
          <th:block th:each="comm : ${comms}">
            <tr>
              <td><br></td>
            </tr>
            <tr>
              <td><h5 th:text="${comm.date}"></h5></td>
            </tr>
            <tr>
              <td><h5 th:text="${comm.comm}"></h5></td>
            </tr>
              <table class="re-comment-table">
                <th:block th:each="recomm : ${recomms}">
                  <span th:if = "${comm.id} == ${recomm.commId}">
                      <tr>
                        <td><h5 th:text="${recomm.date}"></h5></td>
                      </tr>
                      <tr>
                        <td><h5 th:text="${recomm.comm}"></h5></td>
                      </tr>
                    </span>
                </th:block>
              </table>
          </th:block>
        </table>
      </div>
    </article>
  </section>


    <a href="main.html" th:href="@{/articles}" id="homebutton">홈으로</a>
    <a th:if="${owner}" id="edit" href="edit.html" th:href="@{/articles/edit/{articleId}(articleId=${articleId})}">수정</a>
    <form th:if="${owner}" th:action="@{/articles/delete/{articleId}(articleId=${articleId})}" method="post">
      <button type="submit" id="delete" th:text="삭제">삭제하기</button>
    </form>


</body>
</html>