<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/articleList.css?after">
  <script src="https://kit.fontawesome.com/5a855f27dd.js" crossorigin="anonymous"></script>
  <title>Article List</title>
</head>
<body>
  
  <header>
    <div id="logo">
      <h1>Blind Clone f(b)</h1>
      
    </div>
    <div id="btnWrapper">
      <a href="add.html" th:if="${logined}" th:href="@{/articles/add}" id="wbtn">글 작성</a>
      <a href="login.html" th:unless="${logined}" th:href="@{/login}" id="lbtn">로그인</a>
    </div>
  </header>

  <form action="" method="get" id="orderForm">
    <select name="orderFlag">
      <option value="1">최신순</option>
      <option value="2">작성자 이름 순</option>
  </select>
  <input type="button" value="정렬">
  </form>

  <section>

    <article>
      <h1 class="articleName" th:text="${kind.kindName}">게시판 이름 1</h1>
      <div id="discript">
        <p id="no">No.</p>
        <p id="title">제목</p>
        <p id="writer">작성자</p>
        <p id="date">작성일</p>
        <p id="like">좋아요</p>
        <p id="comments">댓글</p>
      </div>
      
      <hr>

      <ul class="articleList">

        <th:block th:each="article : ${articles}">
        <li>
          <p th:text="${article.id}">번호</p>
          <input type="hidden" th:name="${article.id}" th:value="${article.id}"/>
          <a href="article.html"
             th:href="@{/articles/article/{articleId}(articleId=${article.id})}" th:text="${article.title}">게시글 제목</a>
          <a href="#" th:text="${article.writer}">작성자 이름</a>
          <a href="#" th:text="${article.date}">xxxx-xx-xx</a>
          <div class="artiinfo">
            <div class="none"><i class="fa-regular fa-heart"></i><span th:text="${article.likes}">12</span></div>
            <div class="clicked"><i class="fa-solid fa-heart"></i><span th:text="${article.likes}">12</span></div>
            <div class="commets"><i class="fa-regular fa-comment-dots"></i> <span th:text="${article.views}">12</span></div>
          </div>
        </li>
            
        <hr>
        </th:block>
  
      </ul>
    </article>

    <a href="main.html" th:href="@{/articles}" id="homebutton">홈으로</a>

  </section>

  <footer>
    footer 기능 추가 시 활용 예정
    @Capyright f(b)
  </footer>


</body>
</html>