<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/edit.css?after">
  <script src="https://kit.fontawesome.com/5a855f27dd.js" crossorigin="anonymous"></script>
  <title>edit</title>
  <style>
    .error{
      border-color: #ff2f2f;
      color: #ff2f2f;
    }
  </style>
</head>
<body>
  
  <header>
    <div id="logo">
      <h1>Blind Clone f(b)</h1>
    </div>
  </header>

  <section>

    <article>
      <h1 class="articleName" th:text="${kind.kindName}">게시판 이름 1</h1>
      
      <hr>
      
      <form action="" method="post" id="addForm" th:object="${article}">
        <div id="titleWrapper">
          <label for="title">제목 : </label>
          <input type="text" th:field="*{title}" th:errorclass="error" id="title" placeholder="제목을 입력하세요.">
          <p th:errorclass="error" th:errors="*{title}"> 필드 에러 </p>
        </div>
        <div id="bodyWrapper">
        <label for="body">내용 : </label>
        <textarea th:field="*{body}" th:errorclass="error" id="body" cols="30" rows="10"></textarea>
          <p th:errorclass="error" th:errors="*{body}"> 필드 에러 </p>
          <input type="hidden" th:field="*{articleId}">
        </div>
      </form>

    </article>
    <script>
      function form_submit(){
        document.getElementById('addForm').submit();  
      }
    </script>
    <a href="main.html" id="homebutton" th:href="@{/articles}">홈으로</a>
    <a id="submit" onclick="form_submit()">수정</a>

  </section>

  <footer>
    footer 기능 추가 시 활용 예정
    @Capyright f(b)
  </footer>


</body>
</html>