<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/main.css?after">
  <script src="https://kit.fontawesome.com/5a855f27dd.js" crossorigin="anonymous"></script>
  <title th:text="${test}">logined Main</title>
</head>
<body>
  
  <header>
    <div id="logo">
      <h1>Blind Clone f(b)</h1>
    </div>

    <a th:href="@{/profile}" id="loginUser"> [[${user.nickName}]] 님 </a>

    <div id="btnWrapper">
      <a href="add.html" th:href="@{/articles/add}" id="wbtn">글 작성</a>
    </div>

    <form th:action="@{/login/logout}" id="logoutForm" method="post">
      <input th:type="submit" id="lbtn" th:value="로그아웃">
    </form>
  </header>

  <section>
    <article>
      <div th:each="x : ${kinds}">
        <input type="hidden" th:field="*{kind.id}" th:value="${x.getId()}">
        <a href="articleList.html" th:href="@{/articles/articleList/{kindId}(kindId=${x.getId()})}" class="articleName" th:text="${x.kindName}">게시판 이름 1</a>
        <hr>
      </div>
    </article>
  </section>
  <footer>
    footer 기능 추가 시 활용 예정
    @Capyright f(b)
  </footer>


</body>
</html>