<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/main.css">
  <script src="https://kit.fontawesome.com/5a855f27dd.js" crossorigin="anonymous"></script>
  <title th:text="${test}">Main</title>
</head>
<body>
  
  <header>
    <div id="logo">
      <h1>Blind Clone f(b)</h1>
    </div>
    <div id="btnWrapper">
      <a href="add.html" id="wbtn">글 작성</a>
      <a href="login.html" id="lbtn">로그인</a>
    </div>
  </header>

  <section>
    <article>
      <a href="articleList.html" class="articleName">게시판 이름 1</a>
      <hr>
      <ul class="articleList">
        <li>
          <a href="#">게시글 제목</a>
          <div class="artiinfo">
            <div class="none"><i class="fa-regular fa-heart"></i><span>12</span></div>
            <div class="clicked"><i class="fa-solid fa-heart"></i><span>12</span></div>
            <div class="commets"><i class="fa-regular fa-comment-dots"></i> <span>12</span></div>
          </div>
        </li>

        <hr>

        <li>
          <a href="#">게시글 제목</a>
          <div class="artiinfo">
            <div class="none"><i class="fa-regular fa-heart"></i><span>12</span></div>
            <div class="clicked"><i class="fa-solid fa-heart"></i><span>12</span></div>
            <div class="commets"><i class="fa-regular fa-comment-dots"></i> <span>12</span></div>
          </div>
        </li>

        <hr>

        <li>
          <a href="#">게시글 제목</a>
          <div class="artiinfo">
            <div class="none"><i class="fa-regular fa-heart"></i><span>12</span></div>
            <div class="clicked"><i class="fa-solid fa-heart"></i><span>12</span></div>
            <div class="commets"><i class="fa-regular fa-comment-dots"></i> <span>12</span></div>
          </div>
          
        </li>

        <hr>

        <li>
          <a href="#">게시글 제목</a>
          <div class="artiinfo">
            <div class="none"><i class="fa-regular fa-heart"></i><span>12</span></div>
            <div class="clicked"><i class="fa-solid fa-heart"></i><span>12</span></div>
            <div class="commets"><i class="fa-regular fa-comment-dots"></i> <span>12</span></div>
          </div>
          
        </li>

        <hr>

        <li>
          <a href="#">게시글 제목</a>
          <div class="artiinfo">
            <div class="none"><i class="fa-regular fa-heart"></i><span>12</span></div>
            <div class="clicked"><i class="fa-solid fa-heart"></i><span>12</span></div>
            <div class="commets"><i class="fa-regular fa-comment-dots"></i> <span>12</span></div>
          </div>
          
        </li>

        <hr>

        <li>
          <a href="#">게시글 제목</a>
          <div class="artiinfo">
            <div class="none"><i class="fa-regular fa-heart"></i><span>12</span></div>
            <div class="clicked"><i class="fa-solid fa-heart"></i><span>12</span></div>
            <div class="commets"><i class="fa-regular fa-comment-dots"></i> <span>12</span></div>
          </div>
          
        </li>

        <hr>

        <li>
          <a href="#">게시글 제목</a>
          <div class="artiinfo">
            <div class="none"><i class="fa-regular fa-heart"></i><span>12</span></div>
            <div class="clicked"><i class="fa-solid fa-heart"></i><span>12</span></div>
            <div class="commets"><i class="fa-regular fa-comment-dots"></i> <span>12</span></div>
          </div>
          
        </li>

        <hr>

        <li>
          <a href="#">게시글 제목</a>
          <div class="artiinfo">
            <div class="none"><i class="fa-regular fa-heart"></i><span>12</span></div>
            <div class="clicked"><i class="fa-solid fa-heart"></i><span>12</span></div>
            <div class="commets"><i class="fa-regular fa-comment-dots"></i> <span>12</span></div>
          </div>
          
        </li>
 
        <hr>
        
      </ul>
    </article>

    <article>
      <a href="articleList.html" class="articleName">게시판 이름 1</a>
      <hr>
      <ul class="articleList">
        <li>
          <a href="#">게시글 제목</a>
          <div class="artiinfo">
            <div class="none"><i class="fa-regular fa-heart"></i><span>12</span></div>
            <div class="clicked"><i class="fa-solid fa-heart"></i><span>12</span></div>
            <div class="commets"><i class="fa-regular fa-comment-dots"></i> <span>12</span></div>
          </div>
        </li>

        <hr>

        <li>
          <a href="#">게시글 제목</a>
          <div class="artiinfo">
            <div class="none"><i class="fa-regular fa-heart"></i><span>12</span></div>
            <div class="clicked"><i class="fa-solid fa-heart"></i><span>12</span></div>
            <div class="commets"><i class="fa-regular fa-comment-dots"></i> <span>12</span></div>
          </div>
        </li>

        <hr>

        <li>
          <a href="#">게시글 제목</a>
          <div class="artiinfo">
            <div class="none"><i class="fa-regular fa-heart"></i><span>12</span></div>
            <div class="clicked"><i class="fa-solid fa-heart"></i><span>12</span></div>
            <div class="commets"><i class="fa-regular fa-comment-dots"></i> <span>12</span></div>
          </div>
          
        </li>

        <hr>

        <li>
          <a href="#">게시글 제목</a>
          <div class="artiinfo">
            <div class="none"><i class="fa-regular fa-heart"></i><span>12</span></div>
            <div class="clicked"><i class="fa-solid fa-heart"></i><span>12</span></div>
            <div class="commets"><i class="fa-regular fa-comment-dots"></i> <span>12</span></div>
          </div>
          
        </li>

        <hr>

        <li>
          <a href="#">게시글 제목</a>
          <div class="artiinfo">
            <div class="none"><i class="fa-regular fa-heart"></i><span>12</span></div>
            <div class="clicked"><i class="fa-solid fa-heart"></i><span>12</span></div>
            <div class="commets"><i class="fa-regular fa-comment-dots"></i> <span>12</span></div>
          </div>
          
        </li>

        <hr>

        <li>
          <a href="#">게시글 제목</a>
          <div class="artiinfo">
            <div class="none"><i class="fa-regular fa-heart"></i><span>12</span></div>
            <div class="clicked"><i class="fa-solid fa-heart"></i><span>12</span></div>
            <div class="commets"><i class="fa-regular fa-comment-dots"></i> <span>12</span></div>
          </div>
          
        </li>

        <hr>

        <li>
          <a href="#">게시글 제목</a>
          <div class="artiinfo">
            <div class="none"><i class="fa-regular fa-heart"></i><span>12</span></div>
            <div class="clicked"><i class="fa-solid fa-heart"></i><span>12</span></div>
            <div class="commets"><i class="fa-regular fa-comment-dots"></i> <span>12</span></div>
          </div>
          
        </li>

        <hr>

        <li>
          <a href="#">게시글 제목</a>
          <div class="artiinfo">
            <div class="none"><i class="fa-regular fa-heart"></i><span>12</span></div>
            <div class="clicked"><i class="fa-solid fa-heart"></i><span>12</span></div>
            <div class="commets"><i class="fa-regular fa-comment-dots"></i> <span>12</span></div>
          </div>
          
        </li>
 
        <hr>
        
      </ul>
    </article>

    <article>
      <a href="articleList.html" class="articleName">게시판 이름 1</a>
      <hr>
      <ul class="articleList">
        <li>
          <a href="#">게시글 제목</a>
          <div class="artiinfo">
            <div class="none"><i class="fa-regular fa-heart"></i><span>12</span></div>
            <div class="clicked"><i class="fa-solid fa-heart"></i><span>12</span></div>
            <div class="commets"><i class="fa-regular fa-comment-dots"></i> <span>12</span></div>
          </div>
        </li>

        <hr>

        <li>
          <a href="#">게시글 제목</a>
          <div class="artiinfo">
            <div class="none"><i class="fa-regular fa-heart"></i><span>12</span></div>
            <div class="clicked"><i class="fa-solid fa-heart"></i><span>12</span></div>
            <div class="commets"><i class="fa-regular fa-comment-dots"></i> <span>12</span></div>
          </div>
        </li>

        <hr>

        <li>
          <a href="#">게시글 제목</a>
          <div class="artiinfo">
            <div class="none"><i class="fa-regular fa-heart"></i><span>12</span></div>
            <div class="clicked"><i class="fa-solid fa-heart"></i><span>12</span></div>
            <div class="commets"><i class="fa-regular fa-comment-dots"></i> <span>12</span></div>
          </div>
          
        </li>

        <hr>

        <li>
          <a href="#">게시글 제목</a>
          <div class="artiinfo">
            <div class="none"><i class="fa-regular fa-heart"></i><span>12</span></div>
            <div class="clicked"><i class="fa-solid fa-heart"></i><span>12</span></div>
            <div class="commets"><i class="fa-regular fa-comment-dots"></i> <span>12</span></div>
          </div>
          
        </li>

        <hr>

        <li>
          <a href="#">게시글 제목</a>
          <div class="artiinfo">
            <div class="none"><i class="fa-regular fa-heart"></i><span>12</span></div>
            <div class="clicked"><i class="fa-solid fa-heart"></i><span>12</span></div>
            <div class="commets"><i class="fa-regular fa-comment-dots"></i> <span>12</span></div>
          </div>
          
        </li>

        <hr>

        <li>
          <a href="#">게시글 제목</a>
          <div class="artiinfo">
            <div class="none"><i class="fa-regular fa-heart"></i><span>12</span></div>
            <div class="clicked"><i class="fa-solid fa-heart"></i><span>12</span></div>
            <div class="commets"><i class="fa-regular fa-comment-dots"></i> <span>12</span></div>
          </div>
          
        </li>

        <hr>

        <li>
          <a href="#">게시글 제목</a>
          <div class="artiinfo">
            <div class="none"><i class="fa-regular fa-heart"></i><span>12</span></div>
            <div class="clicked"><i class="fa-solid fa-heart"></i><span>12</span></div>
            <div class="commets"><i class="fa-regular fa-comment-dots"></i> <span>12</span></div>
          </div>
          
        </li>

        <hr>

        <li>
          <a href="#">게시글 제목</a>
          <div class="artiinfo">
            <div class="none"><i class="fa-regular fa-heart"></i><span>12</span></div>
            <div class="clicked"><i class="fa-solid fa-heart"></i><span>12</span></div>
            <div class="commets"><i class="fa-regular fa-comment-dots"></i> <span>12</span></div>
          </div>
          
        </li>
 
        <hr>
        
      </ul>
    </article>

    <article>
      <a href="articleList.html" class="articleName">게시판 이름 1</a>
      <hr>
      <ul class="articleList">
        <li>
          <a href="#">게시글 제목</a>
          <div class="artiinfo">
            <div class="none"><i class="fa-regular fa-heart"></i><span>12</span></div>
            <div class="clicked"><i class="fa-solid fa-heart"></i><span>12</span></div>
            <div class="commets"><i class="fa-regular fa-comment-dots"></i> <span>12</span></div>
          </div>
        </li>

        <hr>

        <li>
          <a href="#">게시글 제목</a>
          <div class="artiinfo">
            <div class="none"><i class="fa-regular fa-heart"></i><span>12</span></div>
            <div class="clicked"><i class="fa-solid fa-heart"></i><span>12</span></div>
            <div class="commets"><i class="fa-regular fa-comment-dots"></i> <span>12</span></div>
          </div>
        </li>

        <hr>

        <li>
          <a href="#">게시글 제목</a>
          <div class="artiinfo">
            <div class="none"><i class="fa-regular fa-heart"></i><span>12</span></div>
            <div class="clicked"><i class="fa-solid fa-heart"></i><span>12</span></div>
            <div class="commets"><i class="fa-regular fa-comment-dots"></i> <span>12</span></div>
          </div>
          
        </li>

        <hr>

        <li>
          <a href="#">게시글 제목</a>
          <div class="artiinfo">
            <div class="none"><i class="fa-regular fa-heart"></i><span>12</span></div>
            <div class="clicked"><i class="fa-solid fa-heart"></i><span>12</span></div>
            <div class="commets"><i class="fa-regular fa-comment-dots"></i> <span>12</span></div>
          </div>
          
        </li>

        <hr>

        <li>
          <a href="#">게시글 제목</a>
          <div class="artiinfo">
            <div class="none"><i class="fa-regular fa-heart"></i><span>12</span></div>
            <div class="clicked"><i class="fa-solid fa-heart"></i><span>12</span></div>
            <div class="commets"><i class="fa-regular fa-comment-dots"></i> <span>12</span></div>
          </div>
          
        </li>

        <hr>

        <li>
          <a href="#">게시글 제목</a>
          <div class="artiinfo">
            <div class="none"><i class="fa-regular fa-heart"></i><span>12</span></div>
            <div class="clicked"><i class="fa-solid fa-heart"></i><span>12</span></div>
            <div class="commets"><i class="fa-regular fa-comment-dots"></i> <span>12</span></div>
          </div>
          
        </li>

        <hr>

        <li>
          <a href="#">게시글 제목</a>
          <div class="artiinfo">
            <div class="none"><i class="fa-regular fa-heart"></i><span>12</span></div>
            <div class="clicked"><i class="fa-solid fa-heart"></i><span>12</span></div>
            <div class="commets"><i class="fa-regular fa-comment-dots"></i> <span>12</span></div>
          </div>
          
        </li>

        <hr>

        <li>
          <a href="#">게시글 제목</a>
          <div class="artiinfo">
            <div class="none"><i class="fa-regular fa-heart"></i><span>12</span></div>
            <div class="clicked"><i class="fa-solid fa-heart"></i><span>12</span></div>
            <div class="commets"><i class="fa-regular fa-comment-dots"></i> <span>12</span></div>
          </div>
          
        </li>
 
        <hr>
        
      </ul>
    </article>

  </section>

  <footer>
    footer 기능 추가 시 활용 예정
    @Capyright f(b)
  </footer>


</body>
</html>