<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/profile.css?after">
  <script src="https://kit.fontawesome.com/5a855f27dd.js" crossorigin="anonymous"></script>
  <title>profile</title>
</head>
<body>
  
  <header>
    <div id="logo">
      <h1>Blind Clone f(b) login</h1>
    </div>
  </header>

  <section>

    <article>
      <div id="Wrapper">
        <form action="" method="post">
          <div>
            <label for="nick">닉네임 : </label>
            <input type="text" th:value="${user.nickName}" name="nick" id="nick"  disabled >
          </div>
          <div>
            <label for="email">ID : </label>  <!-- id말고 email로 고려할 필요가 있음!-->
            <input type="email" th:value="${user.email}" name="email" id="email"  disabled >
          </div>
          <div>
            <label for="belong">소속 : </label>
            <input type="text" th:value="${user.dept}" name="belong" id="belong"  disabled >
          </div>
          <div>
            <input type="radio" name="gender" value="남" th:checked="${profile.getGender.ordinal() == 0}" disabled>남
            <input type="radio" name="gender" value="여" th:checked="${profile.getGender.ordinal() == 1}" disabled>여
          </div>
        </form>
      </div>

      <a href="myArticleList.html" id="myarticle">내가 쓴 글 보기</a>
      <a href="myCommentList.html" id="mycomment">내가 쓴 댓글 보기</a>

    </article>

    <a href="profileedit.html" th:href="@{/profile/edit}" id="editBtn">수정</a>
    <a href="main.html" id="homebutton" th:href="@{/articles}">홈으로</a>

  </section>

  <footer>
    footer 기능 추가 시 활용 예정
    @Capyright f(b)
  </footer>


</body>
</html>