<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/signup.css?after">
  <script src="https://kit.fontawesome.com/5a855f27dd.js" crossorigin="anonymous"></script>
  <title>signup</title>
  <style>
    .error {
      border-color: #ff2f2f;
      color: #ff2f2f;
    }

  </style>
</head>
<body>
  
  <header>
    <div id="logo">
      <h1 th:text="#{title}"></h1>
    </div>
  </header>

  <section>

    <article>
      <div id="Wrapper">

        <form action="" method="post" id="signupForm" th:object="${user}">
          <div th:if="${#fields.hasGlobalErrors()}">
              <p class="error" th:each="err : ${ #fields.globalErrors() }" th:text="${err}">에러</p>
          </div>
          <div>
            <label for="nick" th:text="#{NickName}"></label>
            <input type="text" th:field="*{nick}" th:errorclass="error" name="nick" id="nick">
            <p th:errorclass="error" th:errors="*{nick}"></p>
          </div>
          <div>
            <label for="id" th:text="#{email}"></label>
            <input type="text" th:field="*{email}" th:errorclass="error" name="userid" id="id">
            <p th:errorclass="error" th:errors="*{email}"></p>
          </div>
          <div>
            <label for="pw1" th:text="#{passwd}"></label>
            <input type="password" name="passwd1" th:field="*{pw1}" th:errorclass="error" id="pw1">
            <p th:errorclass="error" th:errors="*{pw1}"></p>
          </div>
          <div>
            <label for="pw2" th:text="#{passwd}"></label>
            <input type="password" name="passwd2" th:field="*{pw2}" th:errorclass="error" id="pw2">
            <p th:errorclass="error" th:errors="*{pw2}"></p>
          </div>
          <div>
            <label for="belong" th:text="#{dept}"></label>
            <input type="text"  th:field="*{dept}" th:errorclass="error" id="belong">
            <p th:errorclass="error" th:errors="*{dept}"></p>
          </div>
          <div>
            <input type="radio" th:field="*{gender}" th:errorclass="error" value="M">남
            <input type="radio" th:field="*{gender}" th:errorclass="error" value="W">여
            <p th:errorclass="error" th:errors="*{gender}"></p>
          </div>

          <div>
            <label for="questionInput" th:text="#{question}"></label>
            <select id="questionSelect" th:field="*{question}" class="form-select">
              <option th:each="questionCode : ${QuestionCodes}" th:value="${questionCode.displayName}" th:text="${questionCode.displayName}"></option>
            </select>
            <input type="text" th:field="*{question}" th:errorclass="error" id="questionInput" disabled>
            <p th:errorclass="error" th:errors="*{question}"></p>
          </div>
          <div>
            <label for="answer">문답 : </label>
            <input type="text" th:field="*{answer}" th:errorclass="error" id="answer">
            <p th:errorclass="error" th:errors="*{answer}"></p>
          </div>
          <input type="button" th:onclick="init()" id="signupBtn" value="회원가입">
        </form>
      </div>

    </article>

    <a href="main.html" th:href="@{/articles}" id="homebutton">홈으로</a>

  </section>

  <footer>
    footer 기능 추가 시 활용 예정
    @Capyright f(b)
  </footer>
  <script>
    const $questionInput = document.querySelector("#questionInput");
    const $questionSelect = document.querySelector("#questionSelect");
    const $signupForm = document.querySelector("#signupForm");
    $questionInput.value = $questionSelect.value;
    const MIN = 8;

    let init = () =>{
      $signupForm.submit();
    }

    $questionSelect.addEventListener("change", ()=>{
      if($questionSelect.value !== "직접 입력"){
        $questionInput.value = $questionSelect.value;
        $questionInput.disabled = true;
      }else{
        $questionInput.value = "";
        $questionInput.disabled = false;
        $questionSelect.placeholder = "직접 입력";
        $questionInput.focus();
        $questionInput.style.backgroundColor ="#F5FFFA";
      }
    });

    const $pw1 = document.querySelector("#pw1");
    const $pw2 = document.querySelector("#pw2");

    $pw2.oninput = function() {
      if(!$pw1.value){
        alert("please input first passwd");
        $pw2.value = "";
        $pw1.focus();
      }
    };

    $pw2.onchange = ()=>{
      if($pw1.value !== $pw2.value){
        alert("패스워드가 다릅니다. 확인 바람, 대소문자 비교");
        $pw2.value = "";
        $pw2.focus();
      }
    }

    $pw1.onchange = () => {
      if($pw1.value.length < MIN){
        alert("비밀번호는 8이상이여야 합니다.");
        $pw1.value="";
        $pw1.focus();
      }

      if(!$pw1.value.includes("#","!","@","~")){
        alert("특수문자 1개 이상 포함해야 하며, \"#\",\"!\",\"@\",\"~\" 만 허용 합니다.");
        $pw1.value="";
        $pw1.focus();
      }


    }

    function form_submit(){
      document.getElementById('signupForm').submit();
    }
  </script>

</body>
</html>